<h1>Library Management</h1>

<!-- Form to add a new book -->
<div>
  <h3>Add a New Book</h3>
  <input [(ngModel)]="newBook.title" placeholder="Title">
  <input [(ngModel)]="newBook.author" placeholder="Author">
  <input [(ngModel)]="newBook.year" placeholder="Year">
  <button (click)="addBook()">Add Book</button>
</div>

<hr>

<!-- List of all books -->
<h3>Books List</h3>
<ul>
  <li *ngFor="let book of books">
    <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.year }})
    <button (click)="selectBook(book)">Edit</button>
    <button (click)="deleteBook(book.id)">Delete</button>
  </li>
</ul>

<hr>

<!-- Form to update an existing book -->
<div *ngIf="selectedBook">
  <h3>Edit Book</h3>
  <input [(ngModel)]="selectedBook.title" placeholder="Title">
  <input [(ngModel)]="selectedBook.author" placeholder="Author">
  <input [(ngModel)]="selectedBook.year" placeholder="Year">
  <button (click)="updateBook()">Update Book</button>
</div>
